{% macro buildProductMenu(menu, current) %}
    <div class="mb-10 space-y-4">
        {% set toc = '' %}
        {% for id, item in menu %}
            {% if item.section is defined %}
                {% set first = item.items[0].items|slice(0, 1) %}
                {% set value = '' %}
                {% for k, v in first %}
                    {% set value = v %}
                {% endfor %}
                {% set isCurrent = value.url|split('/')[2] == ('/' ~ current)|split('/')[2] %}
                <a href="{{ value.url }}" class="flex items-center px-3 hover:text-gray-900 transition-colors duration-200 {{ isCurrent ? 'text-gray-900 font-bold' : 'font-normal' }}">
                    <div class="mr-3 rounded-md">
                        {{ item.icon|raw }}
                    </div>
                    {{ item.section }}
                </a>
                {% if isCurrent %}
                    {% set toc = toc ~ _self.buildMenu(item.items, current) %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="mb-8">
        <ul>
            {{ toc|raw }}
        </ul>
    </div>
{% endmacro %}

{% macro buildMenu(menu, current) %}
    {% for id, item in menu %}
        {% if item.section is defined %}
            <div class="mb-8">
                <h5 class="px-3 mb-3 lg:mb-3 uppercase tracking-wide font-semibold text-sm lg:text-xs text-gray-900">{{ item.section|raw }}</h5>
                <ul>
                    {{ _self.buildMenu(item.items, current) }}
                </ul>
            </div>
        {% else %}
            {% set isCurrent = item.url|replace({'.html': ''}) == '/' ~ current|replace({'.md': ''}) %}
            <li>
            {% if isCurrent %}
                <a class="px-3 py-2 transition-colors duration-200 relative block text-teal-700" href="{{ item.url }}">
                    <span class="rounded-md absolute inset-0 bg-teal-200 opacity-30"></span>
                    <span class="relative">{{ item.text }}</span>
                </a>
            {% else %}
                <a class="px-3 py-2 transition-colors duration-200 relative block hover:text-gray-900 text-gray-500" href="{{ item.url }}">
                    <span class="rounded-md absolute inset-0 bg-teal-200 opacity-0"></span>
                    <span class="relative">{{ item.text }}</span>
                </a>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro buildPager(previous, next) %}
    {% if next is not empty or previous is not empty %}
        <hr class="border-gray-200 mt-4 mb-4">
        <nav class="pager flex">
            <div class="w-1/2 rounded flex {% if previous is not empty %}border-solid border border-gray-200 hover:border-gray-400{% endif %}">
            {% if previous is not empty %}
                <a class="w-full text-left mr-4 pl-4 p-2" href="{{ previous.url }}" title="{{ previous.title|e('html_attr') }}">
                    « {{ previous.text }}
                </a>
            {% endif %}
            </div>
            <div class="w-1/2 rounded flex {% if next is not empty %}border-solid border border-gray-200 hover:border-gray-400{% endif %}">
            {% if next is not empty %}
                <a class="w-full text-right ml-4 pr-4 p-2" href="{{ next.url }}" title="{{ next.title|e('html_attr') }}">
                    {{ next.text }} »
                </a>
            {% endif %}
            </div>
        </nav>
    {% endif %}
{% endmacro %}
