{% set metaTitle = metaTitle|default('auditor, the missing audit log library.') %}
{% set metaDescription = metaDescription|default('auditor, the missing audit log library.') %}
<!DOCTYPE html>
<html lang="en" class="bg-white antialiased">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="mask-icon" href="{{ baseUrl }}favicons/safari-pinned-tab.svg" color="#00b4b6">
    <title>{{ metaTitle }}</title>
    <meta name="theme-color" content="#ffffff">
    {#    <meta name="google-site-verification" content="xxxxxxxx" />#}

    {% block meta %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@DarkRaverZ">
        <meta name="twitter:title" content="{{ metaTitle|e('html_attr') }}">
        <meta name="twitter:description" content="{{ metaDescription|e('html_attr') }}">
        <meta name="twitter:creator" content="@DarkRaverZ">
    {% endblock %}

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="{{ baseUrl }}/css/app.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.11.1/dist/alpine.js" defer></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ baseUrl }}/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ baseUrl }}/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ baseUrl }}/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ baseUrl }}/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ baseUrl }}/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
{% block body %}{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T7KCH13GRD"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T7KCH13GRD');
</script>

{#<!-- Algolia DocSearch  -->#}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
    appId: 'EC4P6M6L5W',
    apiKey: 'a62e6da4d5b94a3dc21e7cb9047d5cc2',
    indexName: 'auditor_docs',
    inputSelector: '#docsearch',
    {#algoliaOptions: { 'facetFilters': ["version:{{ version }}"] },#}
    debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
</body>
</html>
